* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;                /* prevent the context menu when you tap and hold over a link */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste etc. To allow, change 'none' to 'text' */
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
    -moz-box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
    box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
}

body {
    background-image: url("../img/bg-gray-bars.jpg");
    font-family:'PT Sans', sans-serif !important;
    height: 100%;
}

header {
    margin: 0 5% 0 5%;
}

section {
    margin: 0 5% 0 5%;
    padding-bottom: 190px;  /* This value is calculated as: footer's height + some free space so that it looks nice (e.g 40px) */
}

h1 {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:45px;
    font-weight:normal;
    text-align:center;
    margin-top: 35px;
}

footer {
    background-image: url("../img/bg-gray-triangles.png");
    background-repeat: repeat;
    background-attachment:fixed;
    border-top: 15px solid rgba(51,53,55,1);
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 150px;  /* Change this value as you desire. Remember to take a look (change) section's padding bottom value: */
}

footer > img { /* la flechita significa todas las 'img' con parent 'footer' */
    padding: 12px;
    height: 100%;
}

#img_backarrow {
    height: 100%;
    padding: 5px 10px 5px 10px;
    float: left;
}
#img_backarrow:active{
    background-color: rgba(88, 87, 87, 1);
}

.input_search_bar {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    /*border-radius: 10px;*/
    border-style: solid !important;
    border-color: rgb(41, 41, 41) !important;
    color: white !important;
    padding: 12px !important;
    margin-top: 110px !important;
    font-size: 30px !important;
    vertical-align: middle !important;
    display: block !important;
    width: 100% !important;
    height: 100px !important;
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}
.input_search_bar2 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.8) url("../img/location_ico.png") 10px no-repeat;
    background-size: auto 85%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(41, 41, 41);
    color: white;
    padding: 12px 12px 12px 80px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 45px;
    vertical-align: middle;
    width: 85%;
    /*float: left;*/ /* No tengo todas conmigo de que esto lo vaya a utilizar */
    height: 100%; /* This should be equal to height of header - the height of the black divisor */
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}

#div_liveSearchResults {
    background-image: url("../img/bg-noisy-grey.jpg");
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    /* The shadow is set in the corresponding Show functions in 'events.js'*/
    border-style: solid;
    border-color: black;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    position: absolute; /* This should absolute, in order to make the impressions that float over the rest of the elements */
    visibility: hidden;
    margin-top: -6px;
    max-height: 400px;
    overflow: scroll;
}
#div_liveSearchResults ul {
    list-style-type:none;
}
#div_liveSearchResults li {
    font-size:25px;
    font-weight:normal;
    text-align:left;
    /*padding: 6px;*/
    border-bottom: 1px solid gray;
    overflow: hidden;
}
#div_liveSearchResults li a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight:inherit;
}
#div_liveSearchResults li:first-child {
    border-top: 1px solid gray;
}
#div_liveSearchResults li:active {
    background-color: #0053ce;
    color: #FFF;
}

.button {
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8);
    background-color: #0053ce;
    display: block;
    border: none;
    font-size: 60px;
    font-weight: normal !important;
    color: #FFF;
    padding: 50px;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    margin: 60px auto 0px auto;
}
.button:active {
    background-color: #FFF !important;
    color: #0053ce !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}

.ui-btn:focus {
 -moz-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
 -webkit-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
 box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
}

/* Portrait layout (default) */
/* ... */

/* Landscape layout: media rules (@media) are used to change some CSS properties only if a certain condition is true.*/
/* The CSS classes you might want to modify must be above the @media rules */
@media screen and (orientation: landscape) {
    /*body {
      background-color:#000;
    }
    .button {
      background-color: #000;
      font-size: 50px;
    }*/
}

/* Possible useful CSS rules and classes towards the future: */

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
