<?xml version='1.0' encoding='utf-8'?>
<!-- More info about configuring this .xml configuration file and more importantly, the versionCode: http://docs.phonegap.com/phonegap-build/configuring/ -->
<!-- More info about '.pgbomit' file at: http://docs.phonegap.com/phonegap-build/start/#structure_application and https://www.joshmorony.com/using-phonegap-builds-pgbomit-to-drastically-reduce-file-size/ -->
<widget id="es.deusto.UDbeaconizer" version="1.0.0" android-versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UD Finder</name>
    <description>
        App for indoors geolocalization system to search professors, lecturers, rooms, offices and laboratories using beacons.
    </description>
    <author email="aitor.db@opendeusto.es" href="http://morelab.deusto.es/">
        Aitor De Blas @ DeustoTech-Internet
    </author>
    <content src="index.html" />
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml (you will still have the INTERNET
        permission on your app, which PhoneGap requires):
        <preference name="permissions" value="none"/>
    -->
    <!-- Customize your app configuration with the 'preference' element: -->
        <!-- all platform -->
        <preference name="orientation" value="default" /> <!-- all: default means both landscape and portrait are enabled -->
        <preference name="fullscreen" value="false" /> <!-- all: hides the status bar at the top of the screen -->
        <preference name="phonegap-version" value="cli-6.3.0" /> <!-- Acabo de añadir esto para Phonegap Build (concretamente para BLE Central plugin) -->
        <!-- More info about possible compiling errors in Phonegap BUILD at: https://github.com/floatinghotpot/cordova-admob-pro/issues/236 -->
        <!-- Supported Phonegap version for Phonegap BUILD (very interesting) at: https://build.phonegap.com/current-support -->
        <!-- iOS platform -->
        <preference name="target-device" value="universal" /> <!-- ios: possible values handset, tablet, or universal. By default, in other platform is 'universal' -->
        <preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
        <preference name="detect-data-types" value="true" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
        <preference name="exit-on-suspend" value="false" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
        <!-- android platform -->
        <preference name="android-windowSoftInputMode" value="adjustResize" /> <!-- android: it controls how the viewport changes in presence of onscreen-keyboard -->
        <preference name="android-minSdkVersion" value="18" /> <!-- Para Phonegap Build esto lo he cambiado de 14 a 18 -->
        <preference name="android-targetSdkVersion" value="18" />  <!-- Acabo de añadir esto para Phonegap Build -->
        <preference name="android-installLocation" value="auto" /> <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
        <preference name="android-build-tool" value="gradle" />  <!-- Acabo de añadir esto para Phonegap Build -->
        <!-- ¿? platform -->
        <preference name="webviewbounce" value="true" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
        <preference name="stay-in-webview" value="false" /> <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
        <preference name="ios-statusbarstyle" value="black-opaque" /> <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
        <preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
        <preference name="auto-hide-splash-screen" value="false" /> <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
        <preference name="disable-cursor" value="false" /> <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
        <!-- SplashScreen preferences: --> <!-- Mas info en: https://github.com/apache/cordova-plugin-splashscreen -->
        <preference name="SplashScreen" value="www/res/screen/android" /> <!-- 'value' is the folder where your splashscreens resides. Other people suggest putting 'splash' -->
        <preference name="AutoHideSplashScreen" value="false" /> <!-- All platforms: Indicates whether to hide splash screen automatically or not -->
        <preference name="SplashScreenDelay" value="3000" /> <!-- All platforms: Amount of time in milliseconds to wait before automatically hide splash screen. To disable it, write '0' -->
        <preference name="FadeSplashScreen" value="true"/> <!-- All platforms: Set to false to prevent the splash screen from fading in and out -->
        <preference name="FadeSplashScreenDuration" value="900"/> <!-- All platforms (see note about iOS): Specifies the number of milliseconds for the splash screen fade effect to execute NOTE-> on iOS: to disable the splashscreen on ios platform you should ALSO add this parameter -->
        <preference name="ShowSplashScreenSpinner" value="true"/> <!-- All platform: Set to false to hide the splash-screen spinner -->
        <preference name="SplashMaintainAspectRatio" value="true" /> <!-- Android: If set to true, splash screen drawable is not stretched to fit screen, but instead simply "covers" the screen -->
        <preference name="SplashShowOnlyFirstTime" value="false" /> <!-- Android: When set to true splash screen will only appear on application launch -->

    <!-- Plugins -->

    <!-- Core plugins -->
    <!-- <plugin name="cordova-plugin-battery-status" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-camera" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-media-capture" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-console" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-contacts" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-device" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-device-motion" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-device-orientation" source="npm" /> -->
    <plugin name="cordova-plugin-dialogs" source="npm" />
    <!-- <plugin name="cordova-plugin-file" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-file-transfer" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-geolocation" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-globalization" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-inappbrowser" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-media" source="npm" /> -->
    <plugin name="cordova-plugin-network-information" source="npm" />
    <!-- <plugin name="cordova-plugin-splashscreen" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-statusbar" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-vibration" source="npm" /> -->
    <plugin name="cordova-plugin-whitelist" source="npm" />

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <plugin name="cordova-plugin-ble" source="npm"/>
    <plugin name="cordova-plugin-bluetooth-serial" source="npm"/>
    <plugin name="cordova-plugin-x-toast" spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin.git" source="git"/>
    <plugin name="cordova-plugin-splashscreen" source="npm"/>
    <plugin name="cordova-plugin-googleplus" spec="https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git" source="git">
        <param name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.473073684258-jss0qgver3lio3cmjka9g71ratesqckr" />
    </plugin>

    <!--
        By default PhoneGap Build builds your application for every platform.
        If you only want to build for certain platforms you can specify these
        platforms with the <platform name="platform_name"></platform tag.
        If not specified, then, no application build will be created for that platform.
    -->
    <!-- Define app icon + app splash screen for each platform. -->
    <icon src="icon.png" /> <!-- default icon for any non-matching icon -->
    <splash src="www/splash.png" /> <!-- default splash for any non-matching splash image --> <!-- ATENCION: A la hora de añadir la plataforma Android, da error de resource no encontrado. -->

    <platform name="android">
        <!-- icon -->
        <icon density="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/icon-192-xxxhdpi.png" />
        <!-- splash screen -->
        <splash density="land-ldpi" src="www/res/screen/android/screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="www/res/screen/android/screen-mdpi-landscape.png" />
        <splash density="land-hdpi" src="www/res/screen/android/screen-hdpi-landscape.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/screen-xhdpi-landscape.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/screen-xxhdpi-landscape.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/screen-xxxhdpi-landscape.png" />
        <splash density="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
        <splash density="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/screen-xxhdpi-portrait.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/screen-xxxhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <!-- icon -->
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon-2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40-2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50-2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60-2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60-3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72-2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76-2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small-2x.png" width="58" />
        <!-- splash screen -->
        <splash height="768" platform="ios" src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" />
        <splash height="1536" platform="ios" src="www/res/screen/ios/screen-ipad-landscape-2x.png" width="2048" />
        <splash height="1024" platform="ios" src="www/res/screen/ios/screen-ipad-portrait.png" width="768" />
        <splash height="2048" platform="ios" src="www/res/screen/ios/screen-ipad-portrait-2x.png" width="1536" />
        <splash height="320" platform="ios" src="www/res/screen/ios/screen-iphone-landscape.png" width="480" />
        <splash height="640" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-2x.png" width="960" />
        <splash height="640" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-568h-2x.png" width="1136" />
        <splash height="750" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-667h.png" width="1334" />
        <splash height="1242" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-736h.png" width="2208" />
        <splash height="480" platform="ios" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1136" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <splash height="1334" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-667h.png" width="750" />
        <splash height="2208" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="1242" />
    </platform>
    <platform name="wp8">
        <!-- icon -->
        <icon height="99" platform="wp8" src="www/res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="www/res/icon/wp8/Background.png" width="159" />
        <!-- splash screen -->
        <splash height="1024" platform="wp8" src="www/res/screen/wp8/SplashScreenImage.jpg" width="768" />
    </platform>
    <platform name="windows">
        <!-- icon -->
        <icon height="150" platform="windows" src="www/res/icon/windows/logo.png" width="150" />
        <icon height="30" platform="windows" src="www/res/icon/windows/smalllogo.png" width="30" />
        <icon height="50" platform="windows" src="www/res/icon/windows/storelogo.png" width="50" />
        <!-- splash screen -->
        <splash height="300" platform="windows" src="www/res/screen/windows/splashscreen.png" width="620" />
    </platform>

    <!--
    Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
    Otherwise, you can specify specific domains:
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->
    <access origin="*" />
    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
