<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="304000" id="es.deusto.UDbeaconizer" version="3.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>UD Finder</name>
    <description>
        App for indoors geolocalization system to search professors, lecturers, rooms, offices and laboratories using beacons.
    </description>
    <author email="aitor.db@opendeusto.es" href="http://morelab.deusto.es/">
        Aitor De Blas @ DeustoTech-Internet
    </author>
    <content src="index.html" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <preference name="android-minSdkVersion" value="18" />
    <preference name="android-targetSdkVersion" value="18" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="webviewbounce" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="900" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <icon src="icon.png" />
    <splash src="www/splash.png" />
    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/icon-192-xxxhdpi.png" />
        <splash qualifier="land-ldpi" src="www/res/screen/android/screen-ldpi-landscape.png" />
        <splash qualifier="land-mdpi" src="www/res/screen/android/screen-mdpi-landscape.png" />
        <splash qualifier="land-hdpi" src="www/res/screen/android/screen-hdpi-landscape.png" />
        <splash qualifier="land-xhdpi" src="www/res/screen/android/screen-xhdpi-landscape.png" />
        <splash qualifier="land-xxhdpi" src="www/res/screen/android/screen-xxhdpi-landscape.png" />
        <splash qualifier="land-xxxhdpi" src="www/res/screen/android/screen-xxxhdpi-landscape.png" />
        <splash qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
        <splash qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
        <splash qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
        <splash qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
        <splash qualifier="port-xxhdpi" src="www/res/screen/android/screen-xxhdpi-portrait.png" />
        <splash qualifier="port-xxxhdpi" src="www/res/screen/android/screen-xxxhdpi-portrait.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon-2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-40-2x.png" width="80" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-50-2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60-2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60-3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72-2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76-2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small-2x.png" width="58" />
        <splash height="768" platform="ios" src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" />
        <splash height="1536" platform="ios" src="www/res/screen/ios/screen-ipad-landscape-2x.png" width="2048" />
        <splash height="1024" platform="ios" src="www/res/screen/ios/screen-ipad-portrait.png" width="768" />
        <splash height="2048" platform="ios" src="www/res/screen/ios/screen-ipad-portrait-2x.png" width="1536" />
        <splash height="320" platform="ios" src="www/res/screen/ios/screen-iphone-landscape.png" width="480" />
        <splash height="640" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-2x.png" width="960" />
        <splash height="640" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-568h-2x.png" width="1136" />
        <splash height="750" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-667h.png" width="1334" />
        <splash height="1242" platform="ios" src="www/res/screen/ios/screen-iphone-landscape-736h.png" width="2208" />
        <splash height="480" platform="ios" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
        <splash height="960" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
        <splash height="1136" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
        <splash height="1334" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-667h.png" width="750" />
        <splash height="2208" platform="ios" src="www/res/screen/ios/screen-iphone-portrait-736h.png" width="1242" />
    </platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="www/res/icon/wp8/ApplicationIcon.png" width="99" />
        <icon height="159" platform="wp8" src="www/res/icon/wp8/Background.png" width="159" />
        <splash height="1024" platform="wp8" src="www/res/screen/wp8/SplashScreenImage.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="www/res/icon/windows/logo.png" width="150" />
        <icon height="30" platform="windows" src="www/res/icon/windows/smalllogo.png" width="30" />
        <icon height="50" platform="windows" src="www/res/icon/windows/storelogo.png" width="50" />
        <splash height="300" platform="windows" src="www/res/screen/windows/splashscreen.png" width="620" />
    </platform>
    <access origin="*" />
    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.2.3" />
    <plugin name="cordova-plugin-ble" />
    <plugin name="cordova-plugin-bluetooth-serial" />
    <plugin name="cordova-plugin-device-motion" spec="^1.2.5" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-googleplus" spec="https://github.com/EddyVerbruggen/cordova-plugin-googleplus.git" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-x-toast" spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin.git" />
</widget>
