header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 110px; /*  valor que le he asignado yo */
    margin: 0px;
    background-image: url("../img/bg-noisy-grey.jpg");
}

.input_search_bar2 {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(41, 41, 41);
    color: white;
    padding: 12px;
    margin: 5px auto 5px auto;
    font-size: 45px;
    vertical-align: middle;
    height: 85px; /* This should be equal to height of header - the height of the black divisor */
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}

footer {
    height: 100px;
}
footer img {
    height: 85px;
    padding: 5px;
}
section {
    margin: 130px 20px 130px  20px;
    padding-bottom: 0px;
    background-color: rgba(124, 124, 124,0.0);

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
}

section hr {
    margin-left: 30px;
    margin-right: 30px;
}

section img {
    max-width: 100%;
    max-height: 100%;
    width: 250px;
    float: left;
    margin-right: 30px;
}

#div_header {
    padding-bottom: 80px;
    height: auto;
}

#div_header p {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:70px;
    font-weight:normal;
    text-align:left;
}

#div_body {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#div_body p, #div_body table {
    font-size:50px;
    font-weight:normal;
    text-align:left;
    clear: left;
}

#div_body p:nth-child(odd) {
    font-size:30px;
}

#div_body table {
    border-collapse: collapse;
}
#div_body tr:nth-child(odd) {
    background-color: rgb(128, 128, 128);
    border-bottom: 1px solid black;
}
#div_body tr:nth-child(even) {
    background-color: rgb(80, 80, 80);
}
#div_body table td {
    padding: 5px 10px 5px 10px;
    color: white;
}
