* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;                /* prevent the context menu when you tap and hold over a link */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste etc. To allow, change 'none' to 'text' */
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
    -moz-box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
    box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
}

.ui-page {
    background: transparent; /* Without this my own background would not appear */
}

#spa_index {
    background-image: url("../img/bg-gray-bars.jpg");
    font-family:'PT Sans', sans-serif;
}

header {
    margin: 0 5% 0 5%;
}

#spa_index .ui-content {
    padding-top: 60px;
}

h1 {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:45px;
    font-weight:normal;
    text-align:center;
    margin-top: 35px;
}

.footer {
    background-image: url("../img/bg-gray-triangles.png") !important;
    background-repeat: repeat !important;
    background-attachment:fixed !important;
    border-top: 8px solid rgba(51,53,55,1) !important;
    text-align: center;
    vertical-align: middle;
    height: 80px !important;  /* Change this value as you desire. */
}

.footer img {
    padding: 5px;
    height: 100% !important;
}

.div_searchbarStyle  {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}
.div_searchbarStyle2  {
    margin-left: 40px;
    margin-right: 3px;
    margin-top: -7px;
}
#spa_index .input_search_bar  {
    font-size: 30px;
    width: 100%;
    height: 50px;
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}

.button {
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8);
    border: none;
    font-size: 30px;
    font-weight: normal;
    padding: 30px;
    width: 170px !important;
    text-align: center;
    vertical-align: middle;
    margin: 40px auto 0px auto;
}
.button:active {
    background-color: #FFF !important;
    color: #0053ce !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}

.ui-btn:focus {
 -moz-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
 -webkit-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
 box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
}

#div_liveSearchResults {
    background-image: url("../img/bg-noisy-grey.jpg");
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    /* The shadow is set in the corresponding Show functions in 'events.js'*/
    border-style: solid;
    border-color: black;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    position: absolute; /* This is absolute in order to make the impression that floats over the rest of the elements */
    visibility: hidden;
    margin-top: -6px;
    max-height: 180px;
    overflow: scroll;
    z-index: 2;
}
#div_liveSearchResults ul {
    list-style-type:none;
}
#div_liveSearchResults li {
    font-size:25px;
    font-weight:normal;
    text-align:left;
    border-bottom: 1px solid gray;
    overflow: hidden;
}
#div_liveSearchResults li a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight:inherit;
}
#div_liveSearchResults li a img {
    width: 16px;
    height: 16px;
    margin: 0px 4px 0px 4px;
}
#div_liveSearchResults li:first-child {
    border-top: 1px solid gray;
}
#div_liveSearchResults li:active {
    background-color: #0053ce;
    color: #FFF;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% MAP %%%%%%%%%%%%%%%%%%%%%%%%%%% */

#spa_map {
    /*background-color: yellow;  *//* The color is for debuggin purposes */
    background-color: none;
    height: 100%;
}

#spa_map .ui-content {
    background-color: red;/* The color is for debuggin purposes */
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: visible;
    width: 100%;
    height: 100%;
    display:flex; /* This new feature in CSS3 is used to distribute the space between objects within a container */
    justify-content: center; /* This new feature in CSS3 is used to distribute the space between objects within a container */
    position: absolute;
}

.header { /* ALSO USED IN 'CONTACT' PAGE */
    height: 60px !important; /*  valor que le he asignado yo */
    background-image: url("../img/bg-noisy-grey.jpg") !important;
    border-bottom: 8px solid rgba(51,53,55,1) !important;
}

#spa_map .input_search_bar, #spa_contact .input_search_bar{ /* ALSO USED IN 'CONTACT' PAGE */
    font-size: 20px;
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}

#spa_map #backarrow.ui-btn, #spa_contact #backarrow.ui-btn { /* ALSO USED IN 'CONTACT' PAGE */
    background-color: transparent;
    border-style: none;
    margin-top: -5px;
    margin-left: -5px;
    height: 100%;
    padding: 0px 20px 0px 20px;
}
#spa_map #backarrow.ui-btn:focus, #spa_contact #backarrow.ui-btn:focus { /* ALSO USED IN 'CONTACT' PAGE */
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}
#spa_map #backarrow.ui-btn:active, #spa_contact #backarrow.ui-btn:active { /* ALSO USED IN 'CONTACT' PAGE */
    background-color: #0053ce;
}
#spa_map #backarrow.ui-btn::after, #spa_contact #backarrow.ui-btn::after { /* ALSO USED IN 'CONTACT' PAGE */
    background-size: 110%; /* This changes the size of the icon*/
}

#spa_map .footer, #spa_contact .footer{ /* ALSO USED IN 'CONTACT' PAGE */
    border-top: 5px solid rgba(51,53,55,1) !important;
    height: 50px !important;
}
#spa_map .footer > img:last-child, #spa_contact .footer > img:last-child{ /* la flechita significa todas las 'img' con parent 'footer' */ /* ALSO USED IN 'CONTACT' PAGE */
    padding: 1px;
    height: 100%;
}
#spa_map .footer > img:first-child { /* la flechita significa todas las 'img' con parent 'footer' */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    margin-left: 10px;
    padding: 6px;
    width: 60px;
    height: auto !important;
    bottom: 70px;
    left: 0px;
    display: none; /* we set display none because it will be shown just in necessary cases */
}
#spa_map .footer > img:first-child:active { /* la flechita significa todas las 'img' con parent 'footer' */
    background-color: rgba(0, 0, 255, 0.9);
}

#div_distanceTillDestination {
    position: fixed;
    margin-left: auto;
    margin-right: 0px;
    right: 0px;
    bottom: 70px;
    background-color: rgba(0, 0, 0, 0.56);
    padding: 3px;
    width: auto;
    min-width: 110px;
    height: 50px;
}
#div_distanceTillDestination img {
    height: 90%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: -3px;
    float: left;
}
#div_distanceTillDestination p {
    display: inline-block;
    font-size:25px;
    color: rgb(255, 0, 0);
    text-align: center;
    vertical-align: middle;
    text-shadow: none !important;
    line-height: 45px; /* This is an approximate value to div's height so as to center the text vertically */
}

#spa_map #div_liveSearchResults, #spa_contact #div_liveSearchResults { /* ALSO USED IN 'CONTACT' PAGE */
    margin-left: -45%;
}

#map_wrapper {
    background-color: #ccc; /* The color is for debuggin purposes */
    height: auto;
    width: auto;
    position: relative;
}
#div_maplimits {
    width: auto;
    height: auto;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
}

#svg_circle_destinationpoint, #svg_circle_sourcepoint {
    position: absolute;
    visibility: hidden;
}

#map_sourcePoint {
    display: none;
}

#p_you, #p_upstairs_downstairs {
    background-color: red;
    padding: 9px 12px 9px 12px;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.9);
    display: inline;
    font-size:45px;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
}
#p_dest_label {
    background-color: darkorange;
    padding: 9px 12px 9px 12px;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.9);
    display: inline;
    font-size:45px;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
}

/* To delete: */
#test_beacons p {
    font-size: 19px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% /MAP %%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%% */

#spa_contact {
    background-image: url("../img/bg-gray-bars.jpg");
    height: 100%;
}

#spa_contact .ui-content {
    /*background-color: rgba(124, 124, 124,0.0);*/
    margin: 8px 8px 8px 8px;
    padding-bottom: 0px;
    padding: 8px;
}
#spa_contact .ui-content hr {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: left;
}

#div_profile_header {
    padding-bottom: 10px;
    height: auto;
}
#div_profile_header img {
    width: 100px;
    float: left;
    margin-right: 20px;
}
#div_profile_header p {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:35px;
    font-weight:normal;
    text-align:left;
}

#div_profile_body p, #div_profile_body table {
    font-size:25px;
    font-weight:normal;
    text-align:left;
    clear: left;
}

#div_profile_body p:nth-child(odd) {
    font-size:18px;
}

#div_profile_body table {
    border-collapse: collapse;
}
#div_profile_body tr:nth-child(odd) {
    background-color: rgb(128, 128, 128);
    border-bottom: 1px solid black;
}
#div_profile_body tr:nth-child(even) {
    background-color: rgb(80, 80, 80);
}
#div_profile_body table td {
    padding: 3px 8px 3px 8px;
    color: white;
}


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% /CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Portrait layout (default) */
/* ... */

/* Landscape layout: media rules (@media) are used to change some CSS properties only if a certain condition is true.*/
/* The CSS classes you might want to modify must be above the @media rules */
@media screen and (orientation: landscape) {
    /*body {
      background-color:#000;
    }
    .button {
      background-color: #000;
      font-size: 50px;
    }*/
}


/* Possible useful CSS rules and classes towards the future: */
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
