/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% GENERIC RULES %%%%%%%%%%%%%%%%% */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;                /* prevent the context menu when you tap and hold over a link */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste etc. To allow, change 'none' to 'text' */
    -webkit-box-sizing: border-box;             /* It changes how the Width and Height of the elements are calculated */
    -moz-box-sizing: border-box;                /* It changes how the Width and Height of the elements are calculated */
    box-sizing: border-box;                     /* It changes how the Width and Height of the elements are calculated */
    padding: 0px;
    margin: 0px;
}
.header { /* It affects: SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    height: 60px !important;
    background-image: url("../img/bg-noisy-grey.jpg") !important;
    border-bottom: 8px solid rgba(51,53,55,1) !important;
}
@font-face {
    font-family: mypurisa;
    src: url(../fonts/purisa.ttf);
}
@font-face {
    font-family: mypurisa;
    src: url(../fonts/purisa-bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: mypurisa;
    src: url(../fonts/purisa-oblique.ttf);
    font-style: italic;
}
@font-face {
    font-family: mypurisa;
    src: url(../fonts/purisa-boldoblique.ttf);
    font-weight: bold;
    font-style: italic;
}
.ui-page { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    background: transparent; /* Without this my own background would not appear */
}
.footer { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    background-image: url("../img/bg-gray-triangles.png") !important;
    background-repeat: repeat !important;
    background-attachment:fixed !important;
    text-align: center;
    vertical-align: middle;
}
.div_searchbarStyle_v2  { /* It affects: SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    margin-left: 40px;
    margin-right: 3px;
    margin-top: -7px;
}
#div_liveSearchResults { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    background-image: url("../img/bg-noisy-grey.jpg");
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    /* The shadow is set in the corresponding Show functions in 'events.js'*/
    border-style: solid;
    border-color: black;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    position: absolute; /* This is absolute in order to make the impression that floats over the rest of the elements */
    margin-top: -6px;
    /*max-height: 180px;*/
    max-height: 30vh; /* 'vh' unit depends on the Viewport Height, it's a relationship */
    overflow: scroll;
    z-index: 2;
    visibility: hidden;
}
#div_liveSearchResults ul { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    list-style-type:none;
}
#div_liveSearchResults li { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    font-size:25px;
    font-weight:normal;
    text-align:left;
    border-bottom: 1px solid gray;
    overflow: hidden;
}
#div_liveSearchResults li a { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    display: list-item;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight:inherit;
}
#div_liveSearchResults li a img { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    width: 16px;
    height: 16px;
    margin: 0px 4px 0px 4px;
}
#div_liveSearchResults li:first-child { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    border-top: 1px solid gray;
}
#div_liveSearchResults li:active { /* It affects: SPA_INDEX + SPA_MAP + SPA_CONTACT + SPA_EDITCONTACT */
    background-color: #0053ce;
    color: #FFF;
}
div[data-role=panel] p:first-of-type { /* It affects: SPA_MAP + SPA_CONTACT */
    font-family: mypurisa;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
.ui-panel-inner { /* It affects: SPA_MAP + SPA_CONTACT */
    background-color: orange;
    padding: 0px;
    height: 100%;
}
#gear_tab { /* It affects: SPA_MAP + SPA_CONTACT */
    position: fixed;
    top: 50%;
    right: -10px;
    background-color: orange;
    border-radius: 0.74em;
    margin: 0px;
    padding: 22px 35px 22px 0px;
    width: 60px;
    z-index: 2;
}
#gear_tab.ui-btn::after { /* It affects: SPA_MAP + SPA_CONTACT */
    background-size: 100%; /* This changes the size of the icon*/
}
#gear_tab:active{ /* It affects: SPA_MAP + SPA_CONTACT */
    background-color: #0053ce;
}
.btn_edit { /* It affects: SPA_MAP + SPA_CONTACT */
    border: none;
    font-size: 20px;
    font-weight: normal;
    padding: 5px 5px 5px 45px;
    width: 100% !important;
    text-align: left;
    vertical-align: middle;
}
.btn_edit:active { /* It affects: SPA_MAP + SPA_CONTACT */
    background-color: #FFF !important;
    color: #0053ce !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
.p_oauth_email { /* It affects: SPA_MAP + SPA_CONTACT */
    font-size: 15px;
    width: 100% !important;
    text-align: center;
    vertical-align: middle;
    color: red;
    position: absolute;
    bottom: 0px;
    margin: 0px 0px 45px 0px;
    display: none;
}
.p_oauth_name { /* It affects: SPA_MAP + SPA_CONTACT */
    font-size: 15px;
    width: 100% !important;
    text-align: center;
    vertical-align: middle;
    color: red;
    position: absolute;
    bottom: 0px;
    margin: 0px 0px 65px 0px;
    display: none;
}
.btn_signout { /* It affects: SPA_MAP + SPA_CONTACT */
    border: none;
    font-size: 15px;
    width: 100% !important;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255, 0, 0, 0.7) !important;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    display: none;
}
.btn_signout:active { /* It affects: SPA_MAP + SPA_CONTACT */
    background-color: #FFF !important;
    color: red !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
.popUptooltip {  /* It affects: SPA_MAP */
    visibility: hidden;
    width: 200px;
    background-color:rgba(0, 83, 206, 0.85);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 15px;
    position: absolute !important;
    z-index: 1;
    left: 60px;
    font-size: 15px;
    font-family: mypurisa;
}
.popUptooltip::after { /* It affects: SPA_MAP */
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -80px;
    border-width: 5px;
    border-style: solid;
    border-color: blue transparent transparent transparent;
}
/* This CSS snippet is to modify the 'placeholder' text within the inputs or textareas */
::-webkit-input-placeholder { /* It affects: SPA_EDITCONTACT */
    text-shadow: none;
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
}
/* This CSS snippet is to modify the 'placeholder' text within the inputs or textareas */
:-moz-placeholder { /* Firefox 18- */ /* It affects: SPA_EDITCONTACT */
    text-shadow: none;
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
}
/* This CSS snippet is to modify the 'placeholder' text within the inputs or textareas */
::-moz-placeholder {  /* Firefox 19+ */ /* It affects: SPA_EDITCONTACT */
    text-shadow: none;
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
}
/* This CSS snippet is to modify the 'placeholder' text within the inputs or textareas */
:-ms-input-placeholder { /* It affects: SPA_EDITCONTACT */
    text-shadow: none;
    color: rgba(128, 128, 128, 0.5);
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
}
.anima_fade { /* It affects: SPA_MAP + SPA_CONTACT */
    animation:fade 500ms 1;
    -webkit-animation:fade 500ms 1;
    animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
    -webkit-animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
}
.anima_showPopUp { /* It affects: SPA_MAP */
    -webkit-animation: show 1s;
    animation: show 1s;
    animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
    -webkit-animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
}
.anima_hidePopUp { /* It affects: SPA_MAP */
    -webkit-animation: hide 1s;
    animation: hide 1s;
    animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
    -webkit-animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
}
@keyframes fade { /* It affects: SPA_MAP + SPA_CONTACT */
    from { opacity: 1.0; }
    to {
        opacity: 0;
        visibility:hidden;
     }
}
@-webkit-keyframes fade { /* It affects: SPA_MAP + SPA_CONTACT */
    from { opacity: 1.0; }
    to {
        opacity: 0;
        visibility:hidden;
     }
}
@-webkit-keyframes show {
    from {opacity: 0;}
    to {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes show {
    from {opacity: 0;}
    to {
        opacity: 1;
        visibility: visible;
    }
}
@-webkit-keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes hide {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% /GENERIC RULES %%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% INDEX %%%%%%%%%%%%%%%%%%%%%%%%% */
#spa_index {
    background-image: url("../img/bg-gray-bars.jpg");
    font-family:'PT Sans', sans-serif;
}
#spa_index .ui-content {
    padding-top: 60px;
}
#spa_index header {
    margin: 0 5% 0 5%;
}
#spa_index h1 {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:45px;
    font-weight:normal;
    text-align:center;
    margin-top: 35px;
}
#spa_index .footer {
    border-top: 8px solid rgba(51,53,55,1) !important;
    height: 80px !important;  /* Change this value as you desire. */
}
#spa_index .footer img {
    padding: 5px;
    height: 100% !important;
}
#spa_index .div_searchbarStyle  {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}
#spa_index .input_search_bar  {
    font-size: 30px;
    width: 100%;
    height: 50px;
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}
#spa_index .GObutton {
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8);
    border: none;
    font-size: 30px;
    font-weight: normal;
    padding: 30px;
    width: 170px !important;
    text-align: center;
    vertical-align: middle;
    margin: 40px auto 0px auto;
}
#spa_index .GObutton:active {
    background-color: #FFF !important;
    color: #0053ce !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
#spa_index .ui-btn:focus {
     -moz-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
     -webkit-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
     box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8) !important;
}
/* Media rules (@media) are used to change some CSS properties only if a certain condition is true. */
/* The CSS classes you might want to modify must be above the @media rules */
@media screen and (orientation: landscape) {
    #spa_index {
        height: 100%;
    }
    #spa_index .footer {
        border-top: 5px solid rgba(51,53,55,1) !important;
        height: 40px !important;
    }
    #spa_index .ui-content {
        padding-top: 30px;
    }
    #spa_index h1 {
        margin-top: 15px;
    }
    #spa_index .GObutton {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #spa_index .input_search_bar  {
        font-size: 20px;
        height: 40px;
    }
    #spa_index .div_searchbarStyle  {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
/*@media screen and (max-height: 1080px) {
    #spa_index #div_liveSearchResults {
      max-height: 120px;
    }
}*/
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% /INDEX %%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% MAP %%%%%%%%%%%%%%%%%%%%%%%%%%% */
#spa_map {
    /*background-color: yellow;*/  /* The color is for debuggin purposes */
    background-color: none;
    height: 100%;
}
#spa_map .ui-content {
    /*background-color: red;*/ /* The color is for debuggin purposes */
    background-color: white;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}
#spa_map .input_search_bar, #spa_contact .input_search_bar, #spa_edit_contact .input_search_bar{ /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
    font-size: 20px;
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}
#spa_map #backarrow.ui-btn, #spa_contact #backarrow.ui-btn, #spa_edit_contact #backarrow.ui-btn { /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
    background-color: transparent;
    border-style: none;
    margin-top: -5px;
    margin-left: -5px;
    height: 100%;
    padding: 0px 20px 0px 20px;
}
#spa_map #backarrow.ui-btn:active, #spa_contact #backarrow.ui-btn:active, #spa_edit_contact #backarrow.ui-btn:active { /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
    background-color: #0053ce;
}
#spa_map #backarrow.ui-btn::after, #spa_contact #backarrow.ui-btn::after, #spa_edit_contact #backarrow.ui-btn::after { /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
    background-size: 100%; /* This changes the size of the icon*/
}
#floor_label {
    position: fixed !important;
    left: 75px;
    bottom:70px;
    z-index: 2;
    display:none; /* It is not shown because it will be shown just in necessary cases*/
}
#floor_label p {
    color: white;
    background-color: rgba(0, 0, 0, 0.44);
    font-size: 25px;
    line-height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    height: 50px;
    padding-top: 4px;
}
#floor_label p span {
    font-size: 15px;
}
#map_wrapper {
    /*background-color: #d0b3b3;*/ /* The color is for debuggin purposes */
    background-color: white;
    height: auto;
    width: auto;
    display: inline-block;
    padding: 1500px; /* If you CHANGE this value, you should change also "_paddingMap" global variable*/
}
#map_sourcepoint {
    width: 2649px;
    height: 1493px;
}
#spa_map .footer, #spa_contact .footer{ /* ALSO USED IN 'CONTACT' PAGE */
    border-top: 5px solid rgba(51,53,55,1) !important;
    height: 50px !important;
}
#spa_map .footer > img:last-child, #spa_contact .footer > img:last-child{ /* la flechita significa todas las 'img' con parent 'footer' */ /* ALSO USED IN 'CONTACT' PAGE */
    padding: 1px;
    height: 100%;
}
#spa_map .footer > img:first-child { /* la flechita significa todas las 'img' con parent 'footer' */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.44);
    margin-left: 10px;
    padding: 6px;
    height: 50px !important;
    bottom: 70px;
    left: 0px;
    display:none; /* It is not shown because it will be shown just in necessary cases*/
}
#spa_map .footer > img:first-child:active { /* la flechita significa todas las 'img' con parent 'footer' */
    background-color: rgba(0, 0, 255, 0.9);
}
#div_distanceTillDestination {
    position: fixed;
    margin-left: auto;
    margin-right: 0px;
    right: 0px;
    bottom: 70px;
    background-color: rgba(0, 0, 0, 0.44);
    padding: 3px;
    width: auto;
    min-width: 110px;
    height: 50px;
}
#div_distanceTillDestination img {
    height: 100% !important;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -3px;
    float: left;
}
#div_distanceTillDestination p {
    display: inline-block;
    font-size:25px;
    color: rgb(255, 0, 0);
    text-align: center;
    vertical-align: middle;
    text-shadow: none !important;
    line-height: 45px; /* This is an approximate value to div's height so as to center the text vertically */
}
#spa_map #div_liveSearchResults, #spa_contact #div_liveSearchResults, #spa_edit_contact #div_liveSearchResults { /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
    margin-left: -45%;
}
#destinationPoint_circle, #youPoint_circle {
    position: absolute;
    visibility: hidden;
}
#destinationPoint_SVG_circle {
    fill: rgb(246,162,0);
}
#youPoint_SVG_circle {
    stroke: rgb(117,29,29);
    stroke-width: 0px;
    fill: red;
    fill-opacity: 0.8;
}
#youPoint_SVG_circle2 {
    fill: #C80000;
}
#p_you_label, #p_upstairs_downstairs {
    background-color: red;
    padding: 9px 12px 9px 12px;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.9);
    display: inline;
    font-size:45px;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
}
#p_dest_label {
    background-color: darkorange;
    padding: 9px 12px 9px 12px;
    border-radius: 7px;
    color: white;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.9);
    display: inline;
    font-size:45px;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
}
#p_dest_label, #p_you_label, #destinationPoint_circle, #youPoint_circle {
    z-index: 2;
}
@keyframes magician {
    from { opacity: 0; }
    to {opacity: 1; }
}
@-webkit-keyframes magician {
    from { opacity: 0; }
    to {opacity: 1; }
}
.anima_magician {  /* It affects: SPA_MAP */
    display:inline !important;
    animation:magician 2000ms 1;
    -webkit-animation:magician 2000ms 1;
    animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
    -webkit-animation-fill-mode: forwards; /* Aplica las clases correspondientes al ultimo frame*/
}
/* Media rules (@media) are used to change some CSS properties only if a certain condition is true. */
/* The CSS classes you might want to modify must be above the @media rules */
@media screen and (orientation: landscape) {
    #div_distanceTillDestination {
        height: 30px;
        bottom: 50px;
    }
    #div_distanceTillDestination p {
        font-size:20px;
        line-height: 25px; /* This is an approximate value to div's height so as to center the text vertically */
    }
    #spa_map .footer{
        border-top: 3px solid rgba(51,53,55,1) !important;
        height: 30px !important;
    }
    #spa_map .footer > img:first-child { /* la flechita significa todas las 'img' con parent 'footer' */
        height: 35px !important;
        bottom: 50px;
    }
    #floor_label {
        bottom: 50px;
        left: 55px;
        white-space: nowrap;
    }
    #floor_label p {
        line-height: initial;
        height: 35px;
        font-size: 18px;
        padding-top: 6px;
    }
    #floor_label p br {
        display: none;
    }
    #spa_map .input_search_bar { /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
        font-size: 15px;
    }
    #spa_map .header {
        height: 45px !important;
        border-bottom: 3px solid rgba(51,53,55,1) !important;
    }
    div[data-role=panel] p:first-of-type {
        font-size: 18px;
    }
    .btn_edit {
        font-size: 15px;
    }
    .btn_signout, .p_oauth_name, .p_oauth_emails {
        font-size: 13px;
    }

}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% /MAP %%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%% */
#spa_contact, #spa_edit_contact { /* ALSO USED IN 'EDIT CONTACT' PAGE */
    background-image: url("../img/bg-gray-bars.jpg");
    height: 100%;
}
#spa_contact .ui-content, #spa_edit_contact .ui-content { /* ALSO USED IN 'EDIT CONTACT' PAGE */
    /*background-color: rgba(124, 124, 124,0.0);*/
    margin: 8px 8px 8px 8px;
    padding: 8px;
}
#spa_contact .ui-content hr, #spa_edit_contact .ui-content hr { /* ALSO USED IN 'EDIT CONTACT' PAGE */
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: left;
}
#div_profile_header, #div_profile_editContact_header {
    /*background-color: yellow;*/
    padding-bottom: 10px;
    height: auto;
}
#spa_contact #div_profile_header img {
    width: 100px;
    float: left;
    margin-right: 20px;
}
#div_profile_header p {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:35px;
    font-weight:normal;
    text-align:left;
}
#div_profile_body p, #div_profile_body table {
    font-size:25px;
    font-weight:normal;
    text-align:left;
    clear: left;
}
#div_profile_body p:nth-child(odd) {
    font-size:18px;
}
#div_profile_body table {
    border-collapse: collapse;
}
#div_profile_body tr:nth-child(odd) {
    background-color: rgb(128, 128, 128);
    border-bottom: 1px solid black;
}
#div_profile_body tr:nth-child(even) {
    background-color: rgb(80, 80, 80);
}
#div_profile_body table td {
    padding: 3px 8px 3px 8px;
    color: white;
}
/* Media rules (@media) are used to change some CSS properties only if a certain condition is true. */
/* The CSS classes you might want to modify must be above the @media rules */
@media screen and (orientation: landscape) {
    #spa_contact .footer{
        border-top: 3px solid rgba(51,53,55,1) !important;
        height: 30px !important;
    }
    #spa_contact .input_search_bar { /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
        font-size: 15px;
    }
    #spa_contact .header {
        height: 45px !important;
        border-bottom: 3px solid rgba(51,53,55,1) !important;
    }
    #spa_contact #div_profile_header img {
        margin-bottom: 10px;
    }
    #spa_contact #div_profile_header p {
        height: 90px;
        display: table-cell;
        vertical-align: middle;
    }
    div[data-role=panel] p:first-of-type {
        font-size: 18px;
    }
    .btn_edit {
        font-size: 15px;
    }
    .btn_signout, .p_oauth_name, .p_oauth_emails {
        font-size: 13px;
    }
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% /CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% EDIT CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%% */
#spa_edit_contact #div_profile_editContact_header {
    text-align: center;
    padding-bottom: 0px;
}
#spa_edit_contact #div_profile_editContact_header img {
    width: 100px;
}
#spa_edit_contact #div_profile_editContact_header textarea {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:30px;
    font-weight:normal;
    text-align:center;
    width: 100%;
    padding: 5px 0px 0px 0px;
    margin: 0px;
}
#spa_edit_contact #div_profile_editContact_header .ui-input-text,  #spa_edit_contact #div_profile_editContact_body .ui-input-text{
    background-color: rgba(255, 176, 0, 0.70);
    border: none;
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) !important;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) !important;
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}
#div_profile_editContact_body table fieldset {
    border-radius: 0px;
    display: inline
}
#div_profile_editContact_body table {
    border-spacing: 0px 0px;
}
#div_profile_editContact_body table fieldset .ui-btn {
    background-color: gray !important;
    border-color: black !important;
    border-width: 0px !important;
    border-style: solid !important;
    color: #FFF !important;
}
#div_profile_editContact_body table fieldset p {
    display: inline;
    float: left;
    font-size: 35px;
    line-height: 96%; /* A number that will be multiplied with the current font size to set the line height */
}
#div_profile_editContact_body table fieldset p:nth-of-type(2) { /* This means the second 'p' found */
    padding-left: 3px;
    padding-right: 3px;
}
#spa_edit_contact .btn_add_row:active {
    background-color: #FFF !important;
    color: #0053ce !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
#spa_edit_contact .btn_add_row:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#div_profile_editContact_body .btn_delete_row {
    background-color: red;
}
#div_profile_editContact_body .btn_delete_row:active {
    background-color: #FFF !important;
}
#div_profile_editContact_body .btn_delete_row:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#spa_edit_contact .footer_save_cancel {
    height: 100px !important;
    background-color: white;
}
#spa_edit_contact .footer_save_cancel button {
    height: 100%;
    margin: 0px;
    width: 50% !important;
    float: left;
    text-shadow:  !important;
    background-color: rgb(145, 145, 145) !important;
    color: white;
    line-height: 0;
}
#spa_edit_contact .footer_save_cancel button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#spa_edit_contact .footer_save_cancel button:first-child {
    text-shadow: 0px 0px 3px rgba(0,0,0,1), -1px 0px 0px rgb(0,255,0), 1px 0px 0px rgb(0,255,0), 0px -1px 0px rgb(0,255,0), 0px 1px 0px rgb(0,255,0) !important;
    font-size: 8vw; /* More info about 'vw' units! They're amazing! awesome! */
}
#spa_edit_contact .footer_save_cancel button:first-child:active {
    text-shadow: none !important;
    background-color: green !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
#spa_edit_contact .footer_save_cancel button:last-child {
    text-shadow: 0px 0px 3px rgba(0,0,0,1), -1px 0px 0px rgb(255,0,0), 1px 0px 0px rgb(255,0,0), 0px -1px 0px rgb(255,0,0), 0px 1px 0px rgb(255,0,0) !important;
    font-size: 8vw; /* More info about 'vw' units! They're amazing! awesome! */
}
#spa_edit_contact .footer_save_cancel button:last-child:active {
    text-shadow: none !important;
    background-color: red !important;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
/* Media rules (@media) are used to change some CSS properties only if a certain condition is true. */
/* The CSS classes you might want to modify must be above the @media rules */
@media screen and (orientation: landscape) {
    #spa_edit_contact .footer_save_cancel {
        height: 50px !important;
    }
    #spa_edit_contact .footer_save_cancel button {
        font-size: 4vw !important;
    }
    #spa_edit_contact .input_search_bar { /* ALSO USED IN 'CONTACT' PAGE AND 'EDIT_CONTACT' PAGE */
        font-size: 15px;
    }
    #spa_edit_contact .header {
        height: 45px !important;
        border-bottom: 3px solid rgba(51,53,55,1) !important;
    }
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* %%%%%%%%%%%%%%%%%%%%%%%%%% /EDIT CONTACT %%%%%%%%%%%%%%%%%%%%%%%%%%% */
