* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
    -moz-box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
    box-sizing: border-box; /* It changes how the Width and Height of the elements are calculated */
}

body {
    background-image: url("../img/bg-gray-bars.jpg");
    font-family:'PT Sans', sans-serif;
    height: 100%;
}

header {
    margin: 0 5% 0 5%;
}

section {
    margin: 0 5% 0 5%;
    padding-bottom: 190px;  /* This value is calculated as: footer's height + some free space so that it looks nice (e.g 40px) */
                            /* Remember to take a look (change) at the following values: */
                            /* · footer's height */
                            /* · section's padding bottom */
}

h1 {
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    font-size:90px;
    font-weight:normal;
    text-align:center;
    margin-top: 35px;
}

footer {
    background-image: url("../img/bg-gray-triangles.png");
    background-repeat: repeat;
    background-position: left top;
    background-attachment:fixed;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 150px;  /* Change this value as you desire */
                    /* Remember to take a look (change) at the following values: */
                    /* · img's height within footer */
                    /* · section's padding bottom */
}

footer img {
    padding: 12px;
    height: 135px ; /* This height is calculated as: footer's height - divBlackSeparator's height */
                    /* Remember to take a look (change) at the following values: */
                    /* · footer's height */
                    /* · section's padding bottom */
    width: auto;
}

#img_backarrow {
    height:85px;
    padding-left: 15px;
    margin: 5px 10px 0px 0px;
    float: left;
}
#img_backarrow:active{
    background-color: rgba(0, 0, 0, 0.4);;
}

.div_black-separator {
    clear: left;
    position: relative;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: 0px;
    background-color: rgba(51,53,55,1);
    height: 15px;
    width: 100%;
}

.input_search_bar {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(41, 41, 41);
    color: white;
    padding: 12px;
    margin-top: 110px;
    font-size: 60px;
    vertical-align: middle;;
    display: block;
    width: 100%;
    height: 100px;
    -webkit-user-select: text; /* allows copy, paste and manipulating text within text field*/
    -moz-user-select: text; /* allows copy, paste and manipulating text within text field*/
    user-select: text; /* allows copy, paste and manipulating text within text field*/
}

#div_liveSearchResults {
    background-image: url("../img/bg-noisy-grey.jpg");
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    /* The shadow is set in the corresponding Show functions in 'events.js'*/
    border-style: solid;
    border-color: black;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    position: absolute; /* This should absolute, in order to make the impressions that float over the rest of the elements */
    visibility: hidden;
    margin-top: -6px;
    max-height: 400px;
    overflow: scroll;
}
#div_liveSearchResults ul {
    list-style-type:none;
}
#div_liveSearchResults li {
    font-size:50px;
    font-weight:normal;
    text-align:left;
    /*padding: 6px;*/
    border-bottom: 1px solid gray;
    overflow: hidden;
}
#div_liveSearchResults li:first-child {
    border-top: 1px solid gray;
}
#div_liveSearchResults li:active {
    background-color: #0053ce;
    color: #FFF;
}

.button {
    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.8);
    background-color: #0053ce;
    display: block;
    border: none;
    font-size: 60px;
    color: #FFF;
    padding: 50px;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    margin: 60px auto 0px auto;
}
.button:active {
    background-color: #FFF;
    color: #0053ce;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    -moz-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}

/* Portrait layout (default) */
/* ... */

/* Landscape layout: media rules (@media) are used to change some CSS properties only if a certain condition is true.*/
/* The CSS classes you might want to modify must be above the @media rules */
@media screen and (orientation: landscape) {
    body {
      background-color:#000;
    }
    .button {
      background-color: #000;
      font-size: 50px;
    }
}

/* Possible useful CSS rules and classes towards the future: */

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
